{% extends "baseBS.html" %}
{% block content %}
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='ajoute.css')}}"> 
    <title>{{ title }}</title>
</head>

<h1>ajouter un author :</h1>
<form role="form" method="POST" action ="{{url_for('ajout_author') }}">
    <ul>
        <li>
        {{ form.hidden_tag () }}
        {{ form.name.label }} 
        </li>

        <li>
        {{ form.hidden_tag () }}
        {{ form.name(size =50,class_ ="form-control") }}
        </li>
        {% if form.name.errors %}
        <ul class="list-group">
            {% for e in form.name.errors %}
            <li class="list-group-item list-group-item-danger" >{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </ul>
    <input class="btn btn-default" type="submit" value="Enregistrer">
</div>

</form >
{% endblock %}

